@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    background-color: #a6a6a6;
}

.swiper-pagination-bullet-active {
    background-color: #DB4444;
    border: 2px solid white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 999px;
    opacity: 1;
}
